{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="up" href="{{ url_for('blog.upvote', id=post['id']) }}">Agree</a>
        <text><br>
            {{ post['votes'] }}
            <br></text>
        <a class="down" href="{{ url_for('blog.downvote', id=post['id']) }}">Disagree</a>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    <br>
    <br>
    <form method="post">
        <label for="body">Comment: (Please state what side you picked and why) </label>
        <textarea name="body" id="body" value="{{ request.form['body'] }}"></textarea>
     <input type="submit" value="Save">
    </form>



{% endblock %}